/*!
Theme Name: Zengistics
Theme URI: https://zengistics.com/
Template: twentytwentyone
Author: The Robinson Agency team
Author URI: https://www.the-robinson-agency.com/
Description: This is a child theme of Twenty Twenty-One. It offers flexible design options, supported by a variety of patterns for different page types, such as services and landing pages, making it ideal for building personal blogs, professional portfolios, online magazines, or business websites. Its templates cater to various blog styles, from text-focused to image-heavy layouts. Additionally, it supports international typography and diverse color palettes, ensuring accessibility and customization for users worldwide.
Version: 1.0.0
Requires at least: 6.7
Tested up to: 6.8.3
Requires PHP: 5.6
License: GNU General Public License v2 or later
License URI: LICENSE
Text Domain: zengistics
Tags: custom-background, custom-logo, custom-menu, featured-images, threaded-comments, translation-ready
*/
